<style>
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  th, td {
    padding: 1px;
  }

  th {
    text-align: left;
  }
</style>

<h1 id="tableLabel">Search</h1>

<p *ngIf="!searches"><em>Loading...</em></p>

<div class="form-group">
  <label for="scrapeURL">Scrape URL: </label>

  <input type="text" class="form-control" id="scrapeURL" value="https://www.google.co.uk" />

  <br />

  <label for="searchURL">Search URL: </label>

  <input type="text" class="form-control" id="searchURL" value="www.gov.uk" />

  <br />

  <label for="searchKeyword">Search Keyword: </label>

  <input type="text" class="form-control" id="searchKeyword" value="land registry search" />

  <br />

  <label for="searchLimit">Search Limit: </label>

  <input type="text" class="form-control" id="searchLimit" value="100" />
</div>

<br />

<div class="text-right">
  <button class="btn btn-primary" (click)="search()">Search</button>
</div>

<br />

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="searches">
  <thead>
    <tr>
      <th>Match</th>
      <th>Match Position</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let search of searches">
      <td>{{ search.citeMatch }}</td>
      <td>{{ search.citeMatchPosition }}</td>
    </tr>
  </tbody>
</table>
